@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta), sans-serif;

  --shadow-level-1: 0 1px 3px 0 rgb(0 0 / 0.1);
  --shadow-glow-primary: 0 0 10px rgba(0, 76, 34, 0.5);

  /* 1. Culorile Brandului */
  --color-primary: #004c22;
  --color-primary-hover: #003618;
  --color-brand-light: #d9eaa3;
  --color-brand-accent: #91db2a;
  --color-secondary: #56642b;
  --color-accent: #84cc16;

  /* 2. Fundaluri (Backgrounds) */
  --color-bg-white: #ffffff;
  --color-bg-main: #f8f9ff;
  --color-bg-muted: #eff4ff;
  --color-bg-dark: #213145;

  /* 3. Text */
  --color-text-main: #0b1c30;
  --color-text-muted: #4a5568;
  --color-text-light: #eaf1ff;

  /* 4. Borduri (Borders) */
  --color-border-light: #e2e8f0;
  --color-border-dark: #707a6f;

  --radius-soft: 4px;
}

html {
  scroll-behavior: smooth;
}
