@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta), sans-serif;

  --shadow-level-1: 0 1px 3px 0 rgb(0 0 / 0.1);
  --shadow-glow-primary: 0 0 10px rgba(0, 76, 34, 0.5);

  --color-primary: #004c22;
  --color-primary-hover: #003618;
  --color-secondary: #56642b;
  --color-accent: #84cc16;
  --color-surface: #ffffff;
  --color-surface-canvas: #f8f9ff;
  --color-surface-container-low: #eff4ff;
  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  --color-outline: #707a6f;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #4a5568;
  --color-surface-border: #e2e8f0;
  --color-tertiary-fixed-dim: #91db2a;
  --radius-soft: 4px;
}
